// Here you can add other styles
.footer{
    &-list-bottom{
        background: -webkit-linear-gradient(38deg, #f58931 0%, #ededed 150%);
        background: -webkit-linear-gradient(52deg, #f58931 0%, #ededed 150%);
        background: -o-linear-gradient(52deg, #f58931 0%, #ededed 150%);
        background: linear-gradient(38deg, #f58931 0%, #ededed 150%);
    }
}
